<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your appointments</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Book appointments</h1>
  <a href="/users/<%= user._id %>/appointments/new">Book Here</a>
  <ul>
    <% appointments.forEach((appointment)=>{ %>
      <li>
        <a href="/users/<%= user._id %>/appointments/<%= appointment._id %>">
        <%= appointment.name %> at <%= appointment.appointmentDate %> at <%= appointment.appointmentTime %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>