<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment Details</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= appointments.name %></h1>
    <% doctors.forEach((doctor) => { %>
        <option value="<%= doctor._id %>"><%= doctor.name %></option>
    <% }); %>
        <p>Appointment Date: <%= appointments.appointmentDate %></p>
        <p>Appointment Time: <%= appointments.appointmentTime %></p>
        <p>Doctor: <%= doctors._id %></p>
        <p>Patient: <%= appointments.name %></p>
    
</body>
</html>
