<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment Details</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= appointments.name %></h1>
    <% doctors.forEach((doctor) => { %>
        <p>Doctor: <%= doctor.name %></p>
    <% }); %>
        <p>Appointment Date: <%= appointments.appointmentDate %></p>
        <p>Appointment Time: <%= appointments.appointmentTime %></p>
        <p>Patient: <%= appointments.name %></p>

    <form action="/appointments/<%= appointment._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this appointment</button>
    </form>
    
    
</body>
</html>
